.welcome-message {
  font-size: 1.25rem;
  font-style: normal;
}

@media (max-width: 991.98px) { /* Tablet */
  .welcome-message {
    font-size: 1.08rem;
    font-style: normal;
  }
}

@media (max-width: 767.98px) { /* Mobile */
  .welcome-message {
    font-size: 0.98rem;
    font-style: normal;
  }
}

@media (max-width: 575.98px) { /* Small Mobile */
  .welcome-message {
    font-size: 0.92rem;
    font-style: normal;
  }
}
